.chat-main
  list-style-type none
  padding 1em
  > li
    display table
    table-layout fixed
    margin-bottom 15px

.chat-main-avatar,
.chat-main-body
  display table-cell
  vertical-align top

.chat-main-avatar
  padding-right 10px
  > img
    border-radius 50%

.chat-main-heading
  font-weight bold
  > span
    font-weight normal
    color #999
    margin-left 0.5em

.chat-form
  display table
  table-layout fixed
  width 100%
  height 100%
  border-top 1px solid #eee

.chat-form-input
.chat-form-submit
  display table-cell
  vertical-align middle

.chat-form-input
  padding-right 1em
  .form-group
    margin-bottom 0

.chat-form-submit
  width 5em